CHAT_API_URL=https://chat.denuelchat.com
NEXT_PUBLIC_CHAT_API=https://chat.denuelchat.com
NEXT_PUBLIC_APP_NAME=Denuel Chat
NEXT_PUBLIC_CHAT_WS_URL=wss://chat.denuelchat.com/websocket
NEXT_PUBLIC_APP_URL=https://app.denuelchat.com
SESSION_COOKIE_NAME=denuel_chat_session
