NEXT_PUBLIC_CHAT_API=https://firestore.googleapis.com
NEXT_PUBLIC_APP_NAME=Denuel Chat
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBAYgdj3g8JN58vIAqgYY7pobYguhI0M1Y
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=denuel-chat.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=denuel-chat
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=denuel-chat.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=386994886508
NEXT_PUBLIC_FIREBASE_APP_ID=1:386994886508:web:4d6468d66d207cadaf0549
