BRAND_NAME=Denuel Chat
ROOT_URL=https://chat.example.com
PORT=3000

ROCKETCHAT_VERSION=8.4.2
MONGO_VERSION=8.0
MONGO_DB_NAME=rocketchat
MONGO_APP_USERNAME=rocketchat
MONGO_APP_PASSWORD=change-this-app-password
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=change-this-root-password

RC_ADMIN_USER=admin
RC_ADMIN_PASSWORD=change-this-admin-password
INITIAL_USER=yes
ADMIN_USERNAME=admin
ADMIN_NAME=Denuel Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASS=change-this-admin-password

NGINX_SERVER_NAME=chat.example.com
NGINX_SSL_CERT_PATH=/etc/nginx/certs/fullchain.pem
NGINX_SSL_KEY_PATH=/etc/nginx/certs/privkey.pem
