.DS_Store
Thumbs.db
*.log
.env.local
*.local
frontend/.env.local

/.vscode
/node_modules
**/node_modules
**/.next

/app
/dist
/Development.provisionprofile

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
supportedVersions.jwt
